@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
    font-family: "Mulish", sans-serif;
}

:root {
    --c1: #4b2e2b;
    --c2: #8c5a3c;
    --c3: #c08552;
    --c4: #fff8f0;
}

.scroll-hide::-webkit-scrollbar {
    width: 0;
}
